<extend name="Weixin/jssdk" />
<block name="head">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
<style type="text/css">
    html{height: 100%;}
    body {
        height: 100%;;
        line-height: 1.6;
        font-family: "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "黑体", Arial, sans-serif;
        font-size: 14px;
        margin: 0;
        text-align: center;;
    }
    .mainbg{
        height: 100%;
        /*-moz-background-size:cover;
        -webkit-background-size:cover;
        -o-background-size:cover;
        background-size:cover;*/
        background:#666 url({:ADDON_PUBLIC_PATH}/sweetgame/welcome_bg.jpg) ;
        background-size:100% 100%;
    }
    #header{ height: 10%;/*background: url({:ADDON_PUBLIC_PATH}/langerielogo.png) no-repeat center; background-size: auto 50%;*/}
    #body{ height: 52%;}
    #footer{ height: 20%;}
    .col-center-block {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .form-signin-heading{
        color: #d43f3a;
    }
    .getcard {
        color: #ffffff;
        background-image: url({:ADDON_PUBLIC_PATH}/sweetgame/btn_getcard.png);
        background-size:100% 100%;
        font-size: 34px;
        font-weight: bold;
        color: #eb6e9f;
        display: inline-block;
        *display: inline;
        padding: 8px 12px;
        margin-bottom: 0;
        *margin-left: .3em;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        border-radius:5px;
        border:none;
    }
    .tip{
        font-size: 18px;
        color: #eb6e9f;
        vertical-align: middle;
        margin-top: 20px;
    }
    .tip a{color: #eb6e9f;}
</style>
</block>

<block name="body">
    <div class="container mainbg">
        <div id="header">
        </div>
        <div id="body">

        </div>

        <div id="footer">
            <form class="form-signin" action="http://weixin.maniform.cn/wei/plt/langame/langamev5/index.html"  method="post">
                <div class="alert alert-danger hide" id="divError" style="text-align: left;">
                    <strong>Error!</strong> A problem has been occurred while submitting your data.
                </div>
                <input type="hidden" name="user" value="{$user}">
                <button id="btnConsume" class="btn getcard" style="margin-top: 2em" type="submit" data-loading-text="Loading...">马上领取卡券</button>
            </form>
            <div class="tip">
                活动日期：即日起至2016年5月20日</br>
                <a href="{:U('lanSweetGameRule?id='.$mp_id)}">活动规则&gt;&gt;</a>
            </div>
        </div>
    </div>
<script type="text/javascript">
    $(document).ready(function() {
        // process the form
        $('form').submit(function(event) {
            if(userinfo.subscribe<=0){
                    alert("请先关注【{$member.public_name}】官方微信账号再领取卡券");
//                $('#divError').html("<strong>请先关注“{$member.public_name}”官方微信账号再开始游戏</strong>  ");
//                $('#divError').removeClass('alert-danger').addClass('alert-success').removeClass('hide').addClass('show');
                event.preventDefault();
                return;
            }
//            $('#btnConsume').button('loading');
//            location.href='http://weixin.maniform.cn/wei/plt/langame/langamev1/index.html?v=1';
//            event.preventDefault();
        });

    });
</script>
</block>
</html>